<%= form_with(model: amortization_schedule, local: true) do |f| %>
  <% if amortization_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amortization_schedule.errors.count, "error") %> prohibited this amortization_schedule from being saved:</h2>

      <ul>
      <% amortization_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :amortization_schedule_name %>
  </div>



  <%= f.collection_select(:debt_account,
                        DebtAccount.where(user_id: current_user.id),
                        :id, 
                        :account_name)%>

  <div>
    <%= link_to_add_association  'add debt', f, :debt_accounts %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
