<%= form_with(model: amortization_schedule, local: true) do |form| %>
  <% if amortization_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amortization_schedule.errors.count, "error") %> prohibited this amortization_schedule from being saved:</h2>

      <ul>
      <% amortization_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :amortization_schedule_name %>
  </div>

  <div class="form-group">
    <%= form.label :debt_account_id %>
    <%= form.collection_select(:debt_account_id, 
                            DebtAccount.all,
                            :id, 
                            :account_name,
                            {
                              :multiple => true
                            },
                            class: 'form-control')
    
    %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
