<p id="notice"><%= notice %></p>

<p>
  <strong>Account name:</strong>
  <%= @debt_account.account_name %>
</p>

<p>
  <strong>Principle:</strong>
  <%= format_dollar_amount @debt_account.principle %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= format_percentage @debt_account.interest_rate %>
</p>

<p>
  <strong>Minimum payment:</strong>
  <%= format_dollar_amount @debt_account.minimum_payment %>
</p>

<%= link_to 'Edit', edit_debt_account_path(@debt_account) %> |
<%= link_to 'Back', debt_accounts_path %>
